
        body {
    background-color: #000; /* Черный фон для сайта */
    color: #fff; /* Белый текст для контраста */
}

#result {
    margin-top: 20px;
    padding: 10px;
    background-color: #333; /* Темно-серый фон для результата */
    border: 1px solid #555; /* Темно-серая рамка */
    border-radius: 5px;
    text-align: center;
    color: #fff; /* Белый текст */
}
.form-control-range {
    width: 100%;
}

.form-control {
    width: auto; /* Ширина текстового поля */
    display: inline-block;
}

.btn-toggle {
    transition: background-color 0.3s, box-shadow 0.3s;
    border: 1px solid #555; /* Темно-серая рамка для кнопок */
    border-radius: 5px;
    color: #fff; /* Белый текст для кнопок */
    background-color: #222; /* Темно-серый фон для кнопок */
}

/* Стиль для подсветки кнопки при наведении */
.btn-toggle:hover {
    background-color: #3a3a3a; /* Еще более темный серый при наведении */
}

/* Стиль для активной (выбранной) кнопки */
.btn-toggle.active, .btn-toggle.active:hover {
    background-color: #7b1fa2; /* Фиолетовый цвет для активной кнопки */
    color: white;
}

/* Стиль для текста внутри активной кнопки */
.btn-toggle.active label {
    color: white;
}

.card{
    background-color: #000;
}